.pageTitle {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: black;
    background-color: gray;
    height: 100px;
    vertical-align: middle;
    line-height: 100px;
}
.headerWrapper {
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: -webkit-fill-available;
    z-index: 1;
}